/* sen-regular - latin */
@font-face {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/sen-v1-latin/sen-v1-latin-regular.eot');
    src: local('Sen Regular'), local('Sen-Regular'),
    url('assets/fonts/sen-v1-latin/sen-v1-latin-regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/sen-v1-latin/sen-v1-latin-regular.woff2') format('woff2'), url('assets/fonts/sen-v1-latin/sen-v1-latin-regular.woff') format('woff'), url('assets/fonts/sen-v1-latin/sen-v1-latin-regular.ttf') format('truetype'), url('assets/fonts/sen-v1-latin/sen-v1-latin-regular.svg#Sen') format('svg');
}

body {
    font-family: Sen, sans-serif !important;
    background-color: azure !important;
}

/* nova-slim-regular - latin */
/*@font-face {
    font-family: 'Nova Slim';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/nova-slim-v11-latin/nova-slim-v11-latin-regular.eot');
    src: local('Nova Slim'), local('NovaSlim'),
    url('assets/fonts/nova-slim-v11-latin/nova-slim-v11-latin-regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/nova-slim-v11-latin/nova-slim-v11-latin-regular.woff2') format('woff2'), url('assets/fonts/nova-slim-v11-latin/nova-slim-v11-latin-regular.woff') format('woff'), url('assets/fonts/nova-slim-v11-latin/nova-slim-v11-latin-regular.ttf') format('truetype'), url('assets/fonts/nova-slim-v11-latin/nova-slim-v11-latin-regular.svg#NovaSlim') format('svg');
}

body {
    font-family: Nova Slim, sans-serif !important;
    background-color: azure !important;
}*/

/* abel-regular - latin */
/*@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/abel-v10-latin/abel-v10-latin-regular.eot');
    src: local('Abel Regular'), local('Abel-Regular'),
    url('assets/fonts/abel-v10-latin/abel-v10-latin-regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/abel-v10-latin/abel-v10-latin-regular.woff2') format('woff2'), url('assets/fonts/abel-v10-latin/abel-v10-latin-regular.woff') format('woff'), !* Modern Browsers *! url('assets/fonts/abel-v10-latin/abel-v10-latin-regular.ttf') format('truetype'), url('assets/fonts/abel-v10-latin/abel-v10-latin-regular.svg#Abel') format('svg');
}

body {
    font-family: Abel, sans-serif !important;
    background-color: azure !important;
}*/
